*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
}